<!doctype html>
<html>
  <head>
    <title>ADI Labs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <!-- Maybe have this jquery file locally just in case? i think it's somewhere but idk so i gotta check -->
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link href="static/css/custom.css" rel="stylesheet">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/hilite.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}" />
    {% block extra_head %}{% endblock %} 

    <!--<script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>-->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% block extra_scripts %}{% endblock %} 

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ADI Labs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!--<a class="nav-link" href="base.html">Home <span class="sr-only">(current)</span></a>-->
        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="about.html">About</a>-->
        <a class="nav-link" href="{{ url_for('about') }}" target="">About</a>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="contact.html">Contact Us</a>-->
        <a class="nav-link" href="{{ url_for('contact') }}" target="">Contact Us</a>
      </li>
      {% if session.logged_in %}
      <li>
        <a class="nav-link" href="{{ url_for('drafts') }}" target="">Drafts</a>
      </li>
      {% else %}
        <!--<a class="nav-link" href="{{ url_for('drafts') }}" target="">Login</a>-->
      {% endif %}

      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> 
      </li> 
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('login') }}" target="">Login</a></button> -->
      <!-- this is the login/logout -->
      {% if session.logged_in %}
        <a class="nav-link" href="{{ url_for('logout') }}" target="">Log Out</a>
      {% else %}
        <a class="nav-link" href="{{ url_for('login') }}" target="">Login</a>
      {% endif %}
    </form>
  </div>
</nav>

    <nav style="display:none;" class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-expanded="false" aria-controls="navbarTogglerDemo03">
    Button with data-target
  </button>
-->

<!--

    <a class="navbar-brand" href="#">The Learner</a>

    <div class="navbar-header">

    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> -->

          <!--<ul class="nav navbar-nav navbar-right">-->
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">Contact Us</a>
          </li>
        </ul>

      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>

    </nav> 

    <div class="container">
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p>{{ message }}</p>
        </div>
      {% endfor %}

      {% block page_header %}
        <div class="page-header">
          <h1>{% block content_title %}{% endblock %}</h1>
        </div>
      {% endblock %}

      {% block content %}{% endblock %}
      <footer>
        <hr/>
        <p>Blog, &copy; 2018</p>
      </footer>
  </body>
</html>
